@mixin font-dm($color, $size, $height, $spacing: 0, $style: normal) {
    color: $color;
    font-family: DM Serif Display;
    font-size: $size;
    font-style: $style;
    font-weight: 400;
    line-height: $height;
    @if $spacing!=0 {
        letter-spacing: $spacing;
    }
}

@mixin font-jost($color, $size, $height, $spacing: 0, $weight: 400) {
    color: $color;
    font-family: Jost;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $height;

    @if $spacing!=0 {
        letter-spacing: $spacing;
    }
}

@mixin content-wrapper {
    width: 1200px;
    // padding-left: calc(50% - 600px);
    // padding-right: calc(50% - 600px);
    margin-left: auto;
    margin-right: auto;
}
